.btn {
  width: 40px;
  height: 40px;
  background: #818181;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  span {
    width: 30px;
    height: 3px;
    background: #000;
    &:nth-child(2) {
      height: 3.3px;
    }
  }
}
